body {
  font-family: "Tajawal", sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: #a5c49a;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
}

form div {
  margin: 1em;
  display: inline-block;
}

p {
  white-space: pre-wrap;
  margin: 5px;
}

.error {
  color: red;
  font-weight: bold;
  display: block;
  margin: 0.5rem 0;
}

/* navbar */
#logo {
  width: 30px;
  margin: 10px 0 0 10px;
}

nav {
  background-color: #103a33;
  display: flex;
  justify-content: space-between;
  padding: 0 10px 0 10px;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav ul li {
  background-color: #103a33;
  position: relative;
  list-style: none;
  display: inline-block;
}

nav ul li:hover {
  background-color: #1f5048;
}

nav ul li a {
  display: block;
  padding: 0 15px;
  color: white;
  text-decoration: none;
  line-height: 60px;
  font-size: 20px;
}

nav ul ul {
  position: absolute;
  top: 60px;
  display: none;
}

nav ul li:hover > ul {
  display: block;
}

nav ul ul li {
  width: 150px;
  float: none;
  display: list-item;
  position: relative;
  z-index: 10;
}

nav ul ul li:hover {
  background-color: #1f5048;
}

/*// HOMEPAGE //*/
#home-container {
  background-color: white;
  font-family: Poppins;
  font-size: 18px;
}

#home-container h1 {
  text-align: center;
  font-size: 30px;
  font-family: "DM Serif Display", serif;
  color: #103a33;
}

#home-container h3 {
  color: #103a33;
  font-family: "DM Serif Display", serif;
}

#home-container p {
  margin-bottom: 15px;
  font-family: "Poppins", sans-serif;
}

#app-description {
  background-color: rgb(218, 169, 148);
  padding: 50px;
}

#how-to-container {
  background-color: rgb(226, 179, 161);
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.how-to-right {
  text-align: right;
  align-self: flex-end;
  width: 53vw;
  margin-bottom: 10px;
}

.how-to-left {
  width: 53vw;
  text-align: justify;
}

/* landing page*/
#landing-page {
  background-image: url("nycBrownstones.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#landing-page h1 {
  color: white;
  font-size: 100px;
  font-family: "Shadows Into Light", cursive;
}

#landing-page i {
  margin-top: 200px;
  font-size: 60px;
  color: white;
}

/* footer */
#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  background-color: rgb(241, 208, 193);
}

.developers {
  display: flex;
}

.developer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}
.developer img {
  width: 150px;
  border-radius: 50%;
  border: 6px solid #286157;
}

/* main container */
#main-container-bottom {
  padding: 10px 50px 0 50px;
  display: flex;
  justify-content: space-between;
}

/* map navbar */
#map-navbar {
  padding: 20px 40px 20px 40px;
  background-color: #7ca16d;
  display: flex;
  justify-content: space-between;
}

#map-navbar .filters {
  display: flex;
  gap: 2rem;
}

.searchBar {
  background-color: white;
  border-radius: 5px;
}

#map-navbar select {
  background-color: white;
  color: rgb(112, 112, 112);
  padding: 12px;
  width: 250px;
  border: none;
  font-size: 15px;
}

#map-navbar input {
  color: rgb(112, 112, 112);
  padding: 12px;
  width: 225px;
  border: none;
  font-size: 15px;
  border-radius: 5px;
}

#map-navbar button {
  padding: 12px;
  border: none;
  border-radius: 5px;
  margin-left: 2px;
  background-color: white;
}

#map-navbar a {
  font-size: 20px;
  color: white;
  position: absolute;
  right: 20px;
}

#map-navbar a:hover {
  color: lightgray;
}

/*map view*/
#map-view {
  width: 50vw;
  margin-right: 30px;
}

.leaflet-container {
  width: 100%;
  height: 80vh;
}

/*list view*/
#list-view {
  height: 80vh;
  width: 50vw;
  overflow: scroll;
}

#single-post {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 5px;
  padding-left: 5px;
  padding-top: 5px;
  background-color: white;
  align-items: flex-start;
  border-radius: 8px;
  border: 1px solid lightgray;
}

#post-details {
  margin: 15px;
  width: 60vw;
}

#post-details h1 {
  font-size: 20px;
}

.location-status {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#post-details h3 {
  color: dodgerblue;
  font-size: 16px;
  margin-left: 10px;
}

#post-details h4 {
  margin-right: 30px;
}

#post-details p {
  font-size: 16px;
}

#post-details a {
  color: red;
}

#post-image {
  width: 300px;
  height: 125px;
  overflow: hidden;
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: flex-start;
}

.selected #post-image {
  width: 300px;
  height: auto;
}

#post-image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#post-image p {
  text-align: center;
}

#no-posts {
  text-align: center;
  margin: auto;
  margin-top: 40px;
  padding: 10px;
  width: 60%;
  font-size: 20px;
}

/* image popup on click */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 1000;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  right: 33%;
  margin-top: 25px;
  padding: 5px;
  background: #fff;
  border-radius: 5px;
  width: 33%;
  position: absolute;
  transition: all 5s ease-in-out;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  color: #333;
}
.popup .close:hover {
  font-size: 40px;
}

/* FORM */
.image-slide {
  display: flex;
  align-items: center;
}

.image-slide span {
  align-self: center;
}

/* create post && sign Up*/
.form-container {
  text-align: center;
  padding: 20px 10px 80px 10px;
}

.form-container form {
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  align-self: center;
  padding: 15px;
  background-color: white;
  border-radius: 5px;
}

.form-container label {
  margin-top: 5px;
  font-size: 18px;
  text-align: left;
  display: block;
}

.form-container input {
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  /* display: inline-block; */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  float: left;
}

.form-container input:focus {
  border: 1px solid gray;
  background-color: white;
}

input[type="file"] {
  border: none;
}

textarea {
  width: 100%;
  height: 200px;
}
.form-container select {
  width: 100%;
  padding: 12px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#image_upload {
  color: transparent;
}

.preview-map {
  height: 28vh;
  width: 28vw;
}

.form-container a {
  color: blue;
  text-decoration: underline;
}

.photo-preview-div {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

/* Chat Styles */
#chat {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: white;
}

/* Chat Panel */
#chat-panel {
  flex: 0 0 350px;
  border-right: 1px solid black;
}

#chat-search {
  background-color: #a5c49a;
  border-bottom: 1px solid darkgray;
  padding: 15px;
}

#chat-search-form {
  display: flex;
  justify-content: center;
}

#chat-search-form input {
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  margin-right: 2px;
}

#chat-search-form input:focus {
  border: 1px solid gray;
}

#chat-search-form button {
  border-radius: 6px;
  border: none;
}

.chat-card {
  border-bottom: 1px darkgray solid;
  padding: 10px;
  text-decoration: none;
}

.chat-card p {
  font-size: 15px;
}
.chat-card.closed {
  background-color: rgb(224, 224, 224);
}

.chat-card.closed a {
  color: rgb(112, 112, 112);
  font-style: italic;
}

/* Chat Room */

#chat-room {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  align-content: stretch;
}

#chat-header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  font-size: 30px;
  background-color: #a5c49a;
  border-bottom: 1px lightgray solid;
  font-weight: bold;
  align-items: center;
}

#chat-header h1 {
  font-size: 22px;
}

#chat-header-details {
  font-size: 16px;
  display: flex;
  font-weight: bold;
}

#chat-header button {
  margin: 5px;
  background-color: black;
  border-radius: 4px;
}

#message-container {
  flex: 0 1 100%;
  display: flex;
  flex-direction: column-reverse;
  overflow: scroll;
  padding-bottom: 1rem;
  gap: 5px;
}

#user-msg-input {
  background-color: #a5c49a;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

#user-msg-input input {
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  margin-right: 6px;
}

#user-msg-input input:focus {
  border: 1px solid gray;
}

/* Messages */
.msg-box {
  padding: 0 1rem;
  max-width: 55%;
}

.msg-box.sent {
  align-self: flex-end;
  justify-content: right;
  text-align: right;
}

.msg-box.received {
  align-self: flex-start;
  justify-content: left;
  text-align: left;
}

.msg-box.admin {
  align-self: center;
  justify-content: center;
  text-align: center;
}

.message {
  border-radius: 5px;
  font-size: 18px;
  padding: 5px;
  background-color: #a5c49a;
}

.message.sent {
  justify-self: right;
}

.message.received {
  justify-self: left;
}

.message.admin {
  background-color: lightgray;
  justify-self: center;
  font-size: 15px;
}

/* FAQ */

#faq-container {
  padding: 80px 10px 10px 10px;
}

#faq-container h2 {
  margin-bottom: 60px;
}

summary {
  font-size: 1.25rem;
  font-weight: 600;
  background-color: #fff;
  color: #333;
  padding: 1rem;
  margin-bottom: 1rem;
  outline: none;
  border-radius: 0.25rem;
  text-align: left;
  cursor: pointer;
  position: relative;
}

#faq-content {
  margin: 1rem;
}

/* buttons */

.button {
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-decoration: none;
  cursor: pointer;
  background: rgb(136, 136, 136);
  border: none;
}

.button:hover {
  box-shadow: none;
}

.submit,
.preview-button,
.delete,
.request-button {
  padding: 10px;
  background-color: white;
  color: dodgerblue;
  border: 1px solid black;
  width: 150px;
  margin: auto;
}

.delete:hover,
.submit:hover,
.preview-button:hover,
.request-button:hover {
  color: black;
}

.delete-photo {
  border: none;
  background-color: white;
  font-size: 20px;
}

.my-post-button {
  background-color: white;
  border: none;
  width: 30px;
  height: 30px;
  margin: 1px;
}

.my-post-button:hover {
  background-color: lightgray;
}

/* MY ACCOUNT */
/* my posts */
#my-posts {
  padding: 30px;
}

#my-post {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px 10px 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  margin-bottom: 10px;
  font-size: 18px;
  background-color: white;
  width: 500px;
}

#my-post div {
  display: flex;
}

/* loading page */

#loading-page {
  font-family: "Courier New", Courier, monospace;
  font-size: 40px;
  text-align: center;
  color: green;
  margin-top: 30vh;
}
@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.saving span {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.saving span:nth-child(2) {
  animation-delay: 0.2s;
}

.saving span:nth-child(3) {
  animation-delay: 0.4s;
}

/*tool tips*/
.tooltip-wrap {
  position: relative;
}
.tooltip-wrap .tooltip-content {
  display: none;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  right: 30%;
  width: 500px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 5px;
  text-align: left;
  color: gray;
  border: 1px solid lightgray;
}
.tooltip-wrap:hover .tooltip-content {
  display: block;
}
