body {
  font-family: 'Tajawal', sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: #dbebd5;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

p {
  white-space: pre-wrap;
}

/* navbar */
#logo {
  width: 30px;
  margin: 10px 0 0 10px;
}

nav {
  background-color: #103a33;
  display: flex;
  justify-content: space-between;
  padding: 0 10px 0 10px;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav ul li {
  background-color: #103a33;
  position: relative;
  list-style: none;
  display: inline-block;
}

nav ul li:hover {
  background-color: #1f5048;
}

nav ul li a {
  display: block;
  padding: 0 15px;
  color: white;
  text-decoration: none;
  line-height: 60px;
  font-size: 20px;
}

nav ul ul {
  position: absolute;
  top: 60px;
  display: none;
}

nav ul li:hover > ul {
  display: block;
}

nav ul ul li {
  width: 150px;
  float: none;
  display: list-item;
  position: relative;
}

nav ul ul li:hover {
  background-color: #1f5048;
}

/* landing page*/
#landing-page {

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("nycBrownstones.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
  color: white;
}

#landing-page h1 {
  font-size: 80px;
}

#landing-page p {
  font-size: 25px;
  margin: 10px;
}

/* footer */
#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #103a33;
  color: white;
  font-size: 20px;
}

.developers {
  display: flex;
}

.developer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
.developer img {
  width: 150px;
  border-radius: 50%;
  background-color: white;
}

/* main container */
#main-container-bottom {
  background-color: #dbebd5;
  display: flex;
  justify-content: space-between;
}

.chat-icon {
  position: absolute;
  right: 0px;
}

/* map navbar */
#map-navbar {
  padding: 15px;
  background-color: #8db580;
  display: flex;
  justify-content: space-between;
}

#map-navbar select {
  background-color: white;
  color: rgb(112, 112, 112);
  padding: 12px;
  width: 250px;
  border: none;
  font-size: 15px;
  border-radius: 5px;
}

#map-navbar img {
  width: 50px;
}

/*map view*/
#map-view {
  width: 50vw;
  margin: 10px 0 10px 10px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

.leaflet-container {
  width: 100%;
  height: 80vh;
  border-radius: 10px;
}
/*list view*/
#list-view {
  /* margin: 10px; */
  height: 80vh;
  width: 50vw;
  overflow: scroll;
}

#single-post {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
  background-color: white;
  align-items: flex-start;
  border-radius: 8px;
}

#post-details {
  margin: 15px;
  width: 60vw;
}

#post-details h1 {
  font-family: 'DM Serif Display', serif;
  font-size: 15px;
}

#post-details p {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
}

#post-image {
  width: 300px;
  height: 120px;
  overflow: hidden;
  border-radius: 5px 0 0 5px;
  display: flex;
  justify-content: center;
  align-content: center;
}

#post-image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#no-posts {
  text-align: center;
  margin: auto;
  margin-top: 40px;
  padding: 10px;
  width: 60%;
  font-size: 28px;
}

/* image popup on click */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  right: 25px;
  margin-top: 25px;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: absolute;
  transition: all 5s ease-in-out;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  color: #333;
}
.popup .close:hover {
  font-size: 40px;
}

/* create post */
/* create post && sign Up*/
.form-container {
  text-align: center;
  padding: 10px;
  background-color: #dbebd5;
}

.form-container form {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  align-self: center;
  padding: 15px;
  background-color: white;
  border-radius: 5px;
}

.form-container label {
  margin-top: 5px;
  font-size: 18px;
  text-align: left;
}

.form-container input {
  background-color: rgb(231, 231, 231);
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-container input:focus {
  border: 1px solid gray;
  background-color: white;
}

.form-container select {
  background-color: rgb(231, 231, 231);
  width: 100%;
  padding: 12px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-instructions {
  font-size: 13px;
  text-align: left;
  padding-top: 0px;
  margin: 0px;
}

.submit {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  background: dodgerblue;
  margin: 10px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100px;
  margin: 0 auto;
}

.submit:hover {
  box-shadow: none;
}

.signup-map {
  height: 35vh;
  width: 35vw;
  align-items: center;
  border: 2px solid black;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

/* Chat Styles */
#chat {
  display: flex;
  width: 100%;
  height: 100%;
  color: black;
}

/* Chat Panel */
#chat-panel {
  flex: 0 0 240px;
  border-right: 1px solid black;
}

#chat-search {
  background-color: lightgray;
  border-bottom: 1px solid darkgray;
  padding: 15px;
}

#chat-search-form {
  display: flex;
  justify-content: center;
}

#chat-search-form input {
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  margin-right: 2px;
}

#chat-search-form input:focus {
  border: 1px solid gray;
}

#chat-search-form button {
  border-radius: 6px;
  border: none;
}

.chat-card {
  border-bottom: 1px darkgray solid;
  padding: 10px;
  background-color: lightgray;
  text-decoration: none;
}

.chat-card.closed {
  background-color: rgb(224, 224, 224);
}

.chat-card.closed a {
  color: rgb(112, 112, 112);
  font-style: italic;
}

/* Chat Room */

#chat-room {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  align-content: stretch;
}

#chat-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 10px 10px;
  font-size: 30px;
  background-color: lightgray;
  border-bottom: 1px darkgray solid;
  font-weight: bold;
}

#button-group button {
  margin: 5px;
}

#message-container {
  flex: 0 1 100%;
  display: flex;
  flex-direction: column-reverse;
  overflow: scroll;
  padding-bottom: 1rem;
  gap: 5px;
}

#user-msg-input {
  background-color: lightgray;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

#user-msg-input input {
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  margin-right: 6px;
}

#user-msg-input input:focus {
  border: 1px solid gray;
}

/* Messages */
.msg-box {
  padding: 0 1rem;
  max-width: 55%;
}

.msg-box.sent {
  align-self: flex-end;
  justify-content: right;
  text-align: right;
}

.msg-box.received {
  align-self: flex-start;
  justify-content: left;
  text-align: left;
}

.msg-box.admin {
  align-self: center;
  justify-content: center;
  text-align: center;
}

.message {
  padding: 0.25rem 1rem;
  border-radius: 22px;
}

.message.sent {
  background-color: lightsteelblue;
  justify-self: right;
}

.message.received {
  background-color: rgb(224, 174, 209);
  justify-self: left;
}

.message.admin {
  background-color: lightseagreen;
  justify-self: center;
}

/* FAQ */

#faq-container {
  padding: 80px 10px 10px 10px;
}

#faq-container h2 {
  margin-bottom: 60px;
}

summary {
  font-size: 1.25rem;
  font-weight: 600;
  background-color: #fff;
  color: #333;
  padding: 1rem;
  margin-bottom: 1rem;
  outline: none;
  border-radius: 0.25rem;
  text-align: left;
  cursor: pointer;
  position: relative;
}

#faq-content {
  margin: 1rem;
}

/* buttons */

.button {
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-decoration: none;
  cursor: pointer;
  background: rgb(136, 136, 136);
  border: none;
}

.button:hover {
  box-shadow: none;
}

.delete {
  background-color: dodgerblue;
  border: none;
  margin: 2px;
  color: white;
  border-radius: 5px;
  padding: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 30px;
}

.delete:hover {
  box-shadow: none;
}

/* MY ACCOUNT */
/* my posts */
#my-posts {
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#my-post {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
  border-radius: 8px;
  flex-basis: 33%;
  font-size: 22px;
  background-color: white;
}

#my-post div {
  display: flex;
}

/* loading page */

#loading-page {
  font-size: 80px;
  text-align: center;
  color: green;
}
@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.saving span {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.saving span:nth-child(2) {
  animation-delay: 0.2s;
}

.saving span:nth-child(3) {
  animation-delay: 0.4s;
}

/*tool tips*/
.tooltip-wrap {
  position: relative;
}
.tooltip-wrap .tooltip-content {
  display: none;
  position: absolute;
  right: 5%;
  width: 200px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 2px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
}
.tooltip-wrap:hover .tooltip-content {
  display: block;
}
